
<h3>Create a List and Take Them Wherever You Go!</h3>

<form action="/list/create" method="POST">

				<label for="type">What Type of List:</label></br>
        <select name="type">
          <option value="todo" selected="selected">Todo</option>
          <option value="grocery">Grocery</option>
          <option value="bucket">Bucket List</option>
          <option value="general">General</option>
        </select></br>

        <label for="name">Name of List:</label></br>
        <input name="name" type="text"></br>

        <label for="items">Add Your List Items:</label></br>
				<textarea name="items" cols="40" rows="5"></textarea>

    		<input type="submit" value="ADD">
</form></br>

<h4>Your Lists:</h4>
<ul>
	{{#each lists}}
	<li><a href="list/{{id}}">{{name}}</a>
	{{/each}}
</ul>
